---
title: "Simple Object Oriented Design: A guide to creating clean, maintainable code, by Maurício Aniche"
---

<!DOCTYPE html>
<html lang="zxx">
<head>
  {% assign title = page.title | default: site.title | escape %}
  {% assign canonical = page.url | replace:'index.html','' | absolute_url %}
  {% assign description = page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | escape %}
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  {% if page.keywords %}
    {% if page.keywords.first %}
      {% assign keywords = page.keywords | join: ',' %}
    {% else %}
      {% assign keywords = page.keywords %}
    {% endif %}
    <meta name="keywords" content="{{ keywords }}">
  {% endif %}

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Simple Object Oriented Design: A guide to creating clean, maintainable code, by Maurício Aniche" />
    <meta name="twitter:description" content="Simple Object-Oriented Design is a book written by Maurício Aniche and published by Manning" />
    <meta name="twitter:image" content="https://www.simple-object-oriented-design.com/assets/images/cover.jpg" />

    <meta property="og:title" content="Simple Object Oriented Design: A guide to creating clean, maintainable code, by Maurício Aniche" />
    <meta property="og:description" content="Simple Object-Oriented Design is a book written by Maurício Aniche and published by Manning" />
    <meta property="og:image" content="https://www.simple-object-oriented-design.com/assets/images/cover.jpg" />
  
  <meta name="author" content="Maurício Aniche">

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="assets/vendors/bootstrap/bootstrap.css">
  <!-- Iconfont Css -->
  <link rel="stylesheet" href="assets/vendors/fontawesome/css/all.css">
  <link rel="stylesheet" href="assets/vendors/bicon/css/bicon.min.css">
  <!-- animate.css -->
  <link rel="stylesheet" href="assets/vendors/animate-css/animate.css">

   <!-- Owl Carousel  CSS -->
  <link rel="stylesheet" href="assets/vendors/owl/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/vendors/owl/assets/owl.theme.default.min.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body id="top-header">

  
    
{% include menu.html %}


   
<section class="banner pb-80" id="cover">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-12 col-lg-6">
                <div class="banner-content ">

                    <h1>Learn how to create simple object-oriented systems!</h1>
                    <ul>
                        <li><i class="fa fa-check"></i>Manage the complexity growth in object-oriented designs</li>
                        <li><i class="fa fa-check"></i>Write simple code</li>
                        <li><i class="fa fa-check"></i>Keep objects consistent at all times</li>
                        <li><i class="fa fa-check"></i>Manage dependencies properly</li>
                        <li><i class="fa fa-check"></i>Design flexible abstractions</li>
                        <li><i class="fa fa-check"></i>Modularize large systems</li>
                        <li><i class="fa fa-check"></i>Be pragmatic</li>
                    </ul>
                    <a href="{{ site.buy_url }}" class="btn btn-main" id="link_buy_main">Buy the book!</a>  
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner-img">
                    <img src="assets/images/cover.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>



<section class="chapter-section section-padding bg-white" id="chapters">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8">
                <div class="center-heading mb-60">
                    <h3 class="heading-title">Chapters</h3>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-lg-4 col-md-6">
                <div class="chapter-list">
                    <div class="chapter-item">
                        <h4><span>Chapter 1</span> It's all about managing complexity</h4>
                        <p>What does it mean to write simple object-oriented design?</p>
                    </div>
                    <div class="chapter-item">
                        <h4><span>Chapter 2</span> Making code small</h4>
                        <p>Learn how to break large units of code into smaller pieces, move new complexity away from existing code, and write good documentation.</p>
                    </div>
                    <div class="chapter-item">
                        <h4><span>Chapter 3 </span> Keeping objects consistent</h4>
                        <p>We have to keep objects consistent, and  implement effective validation mechanisms that ensure consistency at all times.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="chapter-list">
                    <div class="chapter-item">
                        <h4><span>Chapter 4</span> Managing dependencies</h4>
                        <p>It's all about reducing the impact of coupling, understanding dependency directions, and increasing flexibility with dependency injection.</p>
                    </div>
                    <div class="chapter-item">
                        <h4><span>Chapter 5</span> Designing good abstractions</h4>
                        <p>Understand what abstractions are, what constitutes a good abstraction, and how to keep them simple.</p>
                    </div>
                    <div class="chapter-item">
                        <h4><span>Chapter 6</span> Handling external dependencies and infrastructure</h4>
                        <p>Decouple your infrastructure from your domain code, how to evolve infrastructure without having a large impact.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="chapter-list border-right-0">
                    <div class="chapter-item">
                        <h4><span>Chapter 7 </span> Achieving modularization</h4>
                        <p>Learn how to design modules that provide complex features through simple interfaces, how to reduce the dependency among modules.</p>
                    </div>
                    <div class="chapter-item">
                        <h4><span>Chapter 8</span> Being pragmatic</h4>
                        <p>We end up talking about how to be pragmatic, why we should never stop refactoring and learning more about object-oriented design.</p>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
</section> 




<section class="cta pb-100">
    <div class="container">
        <div class="row justify-content-center cta-inner">
            <div class="col-lg-8">
                <div class="cta-content">
                    <span class="subheading2">Subscribe to our mailing list</span>
                    <h2 class="heading-title">Receive free articles about software quality in your e-mail!</h2>

                    {% include newsletter.html %}

                </div>
            </div>
        </div>
    </div>
</section> 



<section class="author-section section-padding bg-white" id="author">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-heading center-heading text-center mb-60">
                    <h3 class="heading-title">About the author</h3>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-lg-5 col-md-6">
               <div class="auhtor-img mb-4 mb-lg-0">
                    <img src="assets/images/mauricio.jpg" alt="" class="img-fluid">
               </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="section-heading mb-0">
                    <h3 class="heading-title">Maurício Aniche</h3>
                    <p>Dr. Maurício Aniche's life mission is to help software engineers to become better and more productive. Maurício is a Tech Lead at Adyen, where he heads the Tech Academy team and leads different engineering enablement initiatives. Maurício is also an assistant professor of software engineering at Delft University of Technology in the Netherlands. His teaching efforts in software testing gave him the Computer Science Teacher of the Year 2021 award and the TU Delft Education Fellowship, a prestigious fellowship given to innovative lecturers. He is the author of the "Effective Software Testing: A Developers Guide", published by Manning in 2022.</p>
                </div>

                <div class="author-desc">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-check"></i> PhD in software engineering</li>
                        <li><i class="fa fa-check"></i> Years of experience in software design</li>
                        <li><i class="fa fa-check"></i> TU Delft education fellow and Teacher of the Year</li>
                    </ul>
                    <p>Reach me on <a href="https://www.twitter.com/mauricioaniche" target="_blank">Twitter</a> or <a href="https://www.linkedin.com/in/mauricioaniche/" target="_blank">Linkedin</a></p>
                </div>
            </div>
        </div>
    </div>
</section> 
 


<section class="faq section-padding bg-grey" id="faq">
	<div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8">
                <div class="center-heading mb-60">
                    <h3 class="heading-title">Frequently Asked Questions</h3>
                </div>
            </div>
        </div>
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			        <div class="panel panel-default">
			            <div class="panel-heading" role="tab" id="headingOne">
			                <h4 class="panel-title ">
			                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-controls="collapseOne">
			                        <i class="more-less fa fa-plus"></i>
			                        What programming language is used in this book?
			                    </a>
			                </h4>
			            </div>
			            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			                <div class="panel-body">
                                The examples in this book are written in a pseudo-language that resembles Java. Nevertheless, they are easy to be read by anyone that works on an object-oriented programming language.
			                </div>
			            </div>
			        </div>



                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title ">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"  aria-controls="collapseFive">
                                    <i class="more-less fa fa-plus"></i>
                                    I am a teacher. Can I use your book in the classroom?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                Definitely!
                            </div>
                        </div>
                    </div>



                </div><!-- panel-group -->
            </div>
            
            <div class="col-lg-6">
				<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title ">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"  aria-controls="collapseThree">
                                    <i class="more-less fa fa-plus"></i>
                                    Is this book for novices or seniors?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Simple Object-Oriented Design is a book meant for software developers that want to sharpen their object-oriented design skills. We'll deeply discuss code complexity, consistency and encapsulation, dependency management, designing abstractions, handling infrastructure, and modularization. 

If you are an advanced developer that already knows similar approaches, such as Clean Architecture, you'll still benefit from the different perspective that this book brings.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title ">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-controls="collapseFour">
                                    <i class="more-less fa fa-plus"></i>
                                    Where and how can I buy this book?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                You can buy this book by clicking in the "buy" buttons you see in this page. This button will redirect you to the Manning page (the publisher of my book), but using a special link that makes me get a little bit more from the sell. Thanks for supporting me!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title ">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"  aria-controls="collapseSix">
                                    <i class="more-less fa fa-plus"></i>
                                    Are there updates of this book?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                Yes! Subscribe to my newsletter!
                            </div>
                        </div>
                    </div>



			    </div><!-- panel-group -->
            </div>

        </div>
	</div>
</section>


{% include footer.html %}


<div class="fixed-btm-top">
	<a href="#top-header" class="js-scroll-trigger scroll-to-top"><i class="fa fa-angle-up"></i></a>
</div>


    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4.5 -->
    <script src="assets/vendors/bootstrap/bootstrap.js"></script>
    <!-- Counterup -->
    <script src="assets/vendors/counterup/waypoint.js"></script>
    <script src="assets/vendors/counterup/jquery.counterup.min.js"></script>
    <!--  Owl Carousel-->
    <script src="assets/vendors/owl/owl.carousel.min.js"></script>
   
    <script src="assets/js/script.js"></script>
  

  </body>
  </html>
   
