<header>
  

    <!-- Main Menu Start -->
   
    <div class="site-navigation " id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                    Simple Object-Oriented Design, by Maurício Aniche

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item ">
                            <a href="/" class="nav-link">
                                The book
                            </a>
                        </li>
                        <li>
                                                        <a href="{{ site.buy_url }}" class="btn btn-main" id="link_buy_menu">
                                Buy this book!
                            </a>
                        </li>
                        
                    </ul>
                </div> <!-- / .navbar-collapse -->


            </div> <!-- / .container -->
        </nav>
    </div>
</header>
